body{
    background-color: #f2fffc;
    font-size: 20px;
    font-family: 'Crimson Text', serif;
}


main h1{
    font-family: 'Open-sans', sans-serif;
    font-size: 50px;
    background-color: #52f7c5;
    color: #000;
    text-align: center;
    padding: 20px;
    margin: 0;
}
h2{
    font-size: 35px;
    font-family: 'Open-sans', sans-serif;
}

p{
    text-align: justify;
    margin: 25px 0;
}

blockquote{
    background-color: #d3ddd3;
    padding: 16px;
    border: 10px solid #c2ccca;
    width: 250px;
    margin: 0;
    box-sizing: border-box;
}

aside{
    background-color: #52f7c5;
    color: #000;;
    text-align: center;
    padding: 20px;
    font-family: 'Open-sans', sans-serif;
}

nav h1{
    font-size: 30px;
    margin-bottom: 25px;
}

nav a{
    color: inherit;
}

.icones-sociais li{
    display: inline-block;
}

footer{
    background-color: #000;
    color: #f2fffc;
    padding: 20px;
}

.social-rodape{
    margin: 30px;
}